.modal.-article#modal-article
    ._inner
        ._close-cross.js-close-modal
            +icon('close')
        ._article-content
            ._article-img
                +picture('md-1', 'png', 1060, 550)
            ._article-text
                .typography
                    h2 4 стратегии, которые помогут<br> не бросить тренировки
                    p Ольга Маркес рассказала в инстаграме о своём подходе к тренингу и предложила подписчикам поделиться своим опытом. Нам было интересно читать, как люди выстраивают тренировочный процесс на 2—3 месяца: составляют план или делают что-то, не задумываясь; почему перестают тренироваться и как возвращаются к спорту.
                    p Мы обобщили комментарии и выделили четыре стратегии, которые помогут поддерживать физическую активность и не бросить тренировки. Рассказываем, кому какой подход подойдёт и какие у них есть минусы.
                    h3 NEAT-подход
                    p Non-exercise activity thermogenesis (NEAT) — это энергия, которую мы тратим на любую повседневную активность, кроме тренировок.
                    p Суть NEAT-подхода в том, чтобы компенсировать недостаток или отсутствие спорта повседневной активностью, увеличивать её в период, когда нет тренировок.
                    +picture('md-2', 'png', 842, 470)
                    p Делайте акцент на повседневных делах: чаще вставайте из-за стола на работе, не пользуйтесь лифтом, погуляйте с собакой на десять минут дольше, сходите в магазин пешком, вместо того чтобы заказать доставку.
                    p Достаточное количество движения в течение дня способно улучшить форму или поддержать результат. По данным исследований, на одну только повседневную активность может тратиться до 2000 ккал в день.