footer.footer
    ._container
        ._top
            ._logo-wrapper
                a(href="#")._logo
                    +icon('logo')
                ._descriptor ваш онлайн-зал для души и тела
            ._top-center
                nav.main-nav.-light
                    .main-nav__item.js-scroll-to(data-scroll="#nav-1") О проекте
                    .main-nav__item.active.js-scroll-to(data-scroll="#nav-2") О занятиях
                    .main-nav__item.js-scroll-to(data-scroll="#nav-3") Тарифы
                    .main-nav__item.js-scroll-to(data-scroll="#nav-4") Блог
                    .main-nav__item.js-scroll-to(data-scroll="#nav-5") FAQ
                btn.common-btn Бесплатный доступ к урокам
            .socials.-glow
                a(href="#")._item.-insta
                    +icon('insta')
                a(href="#")._item.-vk
                    +icon('vk')
        ._bottom
            ._copywrite © ИП Белянская, 2021 год
            ._policies
                a(href="#")._policy Пользовательское соглашение
                span |
                a(href="#")._policy Политика конфиденциальности
            a(href="https://webelement.ru/")._developers &#9995;&#128526;&#128293; Разработка сайта WEBELEMENT