$black: #000;
$white: #fff;
$yellow: #ffe6a0;
$purple: #6d4897;
$purple-gradient: linear-gradient(261.21deg, rgba(215, 154, 220, 0.6) 11.53%, rgba(215, 154, 220, 0) 48.92%), #CBBEDA;
$dark-purple-gradient: linear-gradient(80.34deg, rgba(215, 154, 220, 0) 64.5%, rgba(215, 154, 220, 0.5) 111.42%), #6D4897;
$gray: #BBBBBB;
$yellow-gradient: linear-gradient(98.22deg, rgba(215, 154, 220, 0) 78.92%, rgba(215, 154, 220, 0.7) 103.45%), #FFE6A0;
$gray-gradient: linear-gradient(68.59deg, rgba(109, 72, 151, 0) 64.57%, rgba(109, 72, 151, 0.3) 125.47%), #CBBEDA;
$black-gradient: linear-gradient(280.38deg, rgba(215, 154, 220, 0.7) -1.69%, rgba(215, 154, 220, 0) 32.09%), #000000;
$light-purple: #D79ADC;
$gray-bg: #F8F8F8;
$middle-gray-bg: #F1F1F1;
